@import "./sigma9.css";

body {
/* More in line with wiki pages, no clue why it is not in the sigma9 */
    font-size: 0.95em;
}

button {
    margin: 1em 0;
    font-size: 1.5em;
}

#page-title {
    text-align: center;
}

table {
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: auto;
    width: 60%;
    border-spacing: 0;
    table-layout: auto;
}

tr {
    display: grid;
    grid-template-columns: 30% 25% 7% 19% 19%;
}

/* Shenanigans for rounded corners */
tr:last-child > td {
    border-bottom: none;
}

td:nth-child(5) {
    border-right: none;
}

td:last-child {
    border-right: none;
}

tr:last-child > td:last-child {
    border-right: none;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid;
}

th:last-child {
    border-right: none;
}


th {
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

td {
    text-align: left;
    padding: 0 1em;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

#rating-header {
    width: 5em;
}

.hide-row {
    display: none !important;
}

.expanded-row-content {
    display: grid;
    grid-column: 1/-1;
    background-color: #F4F4F4;
}
