@import "./sigma9.css";

body {
/* More in line with wiki pages, no clue why it is not in the sigma9 */
    font-size: 0.95em;
}

button {
    margin: 1em 0;
    font-size: 1.5em;
    border: 2px solid;
}

#page-title {
    text-align: center;
}

#rating-header {
    width: 5em;
}

table {
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    border-spacing: 0;
    table-layout: auto;
}

tr {
    display: grid;
    grid-template-columns: 30% 20% 10% 17% 17% 6%;
}

/* Shenanigans for rounded corners */
tr:last-child > td {
    border-bottom: none;
}

td:nth-child(6) {
    border-right: none;
}

td:last-child {
    border-right: none;
}

tr:last-child > td:last-child {
    border-right: none;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid;
}

th:last-child {
    border-right: none;
}


th {
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

td {
    display: grid;
    text-align: left;
    padding: 0 1em;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

img {
    margin: auto;
}

/* end shenanigans */

#description {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    color: darkgray;
}

.hide-row {
    display: none !important;
}

.expanded-row-content {
    display: grid;
    grid-column: 1/-1;
    background-color: #F4F4F4;
}

.container {
    display: grid;
    grid-template-columns: 17% 66% 17%;
}

.selected-list {
    background-color: #700;
    color: #fff;
    border-color: #000;
}

/* Sorting things */
.sort-ascending {
    background-image: url("../images/ascending.png");
}

.sort-descending {
    background-image: url("../images/descending.png");
}

.sort-ascending, .sort-descending {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 32px;
}
