@import "sigma9.css";

html {
    width: 400px;
    height: auto;
}

button {
    font-size: 1.5em;
    margin: 0.5em 1em;
}

textarea {
    resize: none;
    margin: 0.7em 0;
    height: 85%;
}

#selector {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

#selector > button {
  padding: 0;
  margin: 0.5em 0;
  border: 2px;
  border-radius: 0;
  font-size: 1em;
}

.selected-rating {
    border: 2px black solid !important;
}

.new-entry {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.failed-entry, .successful-entry {
    font-size: 1.5em;
}

.failed-entry {
    color: #D21414;
}

.successful-entry {
    color: #00C800;
}
